[submodule "bls-fuzz/impls/blst"]
	path = bls-fuzz/impls/blst
	url = https://github.com/sigp/blst.git
[submodule "eth2fuzz/lighthouse"]
	path = eth2fuzz/lighthouse
	url = https://github.com/sigp/lighthouse
[submodule "eth2fuzz/grandine"]
	path = eth2fuzz/grandine
	url = https://github.com/grandinetech/grandine
