# OS
.DS_Store

# Rust build
target/
**/target/

# Fuzzing (honggfuzz / cargo-hfuzz)
hfuzz_target/
hfuzz_workspace/
**/hfuzz_target/
**/hfuzz_workspace/
rust_hfuzz.log

# Logs
*.log
workspace/hfuzz/Cargo.lock
workspace/hfuzz/coverage/*

# Debug artifacts on macOS
*.dSYM/

# Node/Yarn (if used under workspace/jsfuzz)
node_modules/
npm-debug.log*
yarn-error.log

# IntelliJ / VSCode
.idea/
.vscode/

# teku
workspace/javafuzz/out_teku_attestation/
workspace/javafuzz/out_teku_block_header/
workspace/javafuzz/out_teku_proposer_slashing/
workspace/javafuzz/out_teku_attester_slashing/
workspace/javafuzz/out_teku_bls/
workspace/javafuzz/out_teku_voluntary_exit/
workspace/javafuzz/out_teku_block/
workspace/javafuzz/out_teku_deposit/
*.class